extends layout

block content
  //h1= title
  //p Welcome to #{title}
  div.main
    table#getTable.table.table-striped.table-bordered.dataTable.no-footer

  script(type="text/javascript" src="/javascripts/home/Service.js")
  script(type="text/javascript" src="/javascripts/home/ViewModel.js")
  script(type="text/javascript" src="/javascripts/home/Controller.js")

  script.
    Controller.init();