<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Test</title>    
    <link rel='stylesheet' href='/stylesheets/datatables.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/javascripts/home/Service.js"></script>
    <script type="text/javascript" src="/javascripts/home/ViewModel.js"></script>
    <script type="text/javascript" src="/javascripts/home/Controller.js"></script>

    <script type="text/javascript">
        window.onload = function () {
            Controller.init();
        }
    </script>
</head>
<body>
    <div class="main">
        <table id="getTable" class="table table-striped table-bordered dataTable no-footer"></table>
    </div>
</body>
</html>