<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Test</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/datatables.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/javascripts/home/Service.js"></script>
    <script type="text/javascript" src="/javascripts/home/ViewModel.js"></script>
    <script type="text/javascript" src="/javascripts/home/Controller.js"></script>

    <script type="text/javascript">
        window.onload = function () {
            Controller.init();
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Project</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" method="post" action="/postUser">
                    <span id="username" style="color: white;"></span>
                    <div id="usernameLogin" style="display: none;">
                        <div class="form-group">
                            <input type="text" placeholder="Email" name="username" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </div>
                </form>
            </div>  
        </div>
    </nav>

    <div class="container">
        <div class="main">
            <table id="getTable" class="table table-striped table-bordered dataTable no-footer"></table>
        </div>
    </div>
</body>
</html>